nav {
    height: 5vh;
    width: 98%;
    background-color: royalblue;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1%;
}

.logo {
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    color: yellow;
    font-size: 1.9rem;
    font-weight: 700;
}